#about_top_section {
    background-image: linear-gradient(to right, rgb(63, 87, 104) 40%, rgba(63, 87, 104, 0.027)), url('images/about_us.webp');
    background-position-x: 0, 30rem;
    background-position-y: 0, -15rem;
}

@media (max-width:750px) {

    #about_top_section {
      background-image: url('images/about_us.webp');
      background-position: center;
    }
  
  }