h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  color: var(--secondary-text-color);
}

form {
  background-color: white;
  padding: 3rem;
}

#home_top_section {
  display: flex;
  height: 41.5rem;
  background-image: url("images/granddaughter-talking-with-her-grandmother-sitting-wheelchair-cheerful-concept-happy-family_desktop.webp");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

#home_top_section_text {
  background-color: white;
  padding: 2rem 0rem 0 2rem;
  width: min(37rem, 90%);
  height: 22.5rem;
  color: var(--tertiary-text-color-red);
  margin-top: 5rem;
  margin-left: 9.5rem;
  border-radius: 0.3rem;
}

#home_top_section_text > p {
  margin-bottom: 1rem;
}

#home_actions {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* align-items: center; */
  justify-content: center;
}

#home_actions a {
  width: fit-content;
  justify-self: center;
}

#call_to_action_box {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
}

#call_to_action_box a:not(.action_btn) {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

#middle_section_1 {
  background-color: var(--primary-bg-color);
  text-align: center;
  padding-inline: 1rem;
}

#middle_section_1 > p:nth-of-type(1) {
  width: 39rem;
  margin-left: auto;
  margin-right: auto;
}

#middle_section_1 p a {
  text-decoration: underline;
}

#services {
  width: calc(100% - 6rem);
}

#middle_section_2 {
  /* height: 33vh; */
}

#middle_section_4 {
  background: linear-gradient(
    to bottom,
    var(--tertiary-bg-color-blue) 0%,
    var(--tertiary-bg-color-blue) 50%,
    white 50%,
    white 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5.5rem;
  background-color: inherit;
}

#middle_section_4 h2 {
  margin-bottom: 0;
  color: var(--primary-text-color-red);
  justify-content: space-around;
}

#Middle_section_4 p {
  margin-top: 0;
  margin-bottom: 2rem;
  color: white;
}

#contact_us_box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 4.5fr 5fr;
  gap: 0;
  box-shadow: 0.5rem 0.5rem 0.5rem #4648493b;
  border-bottom-right-radius: 0.3rem;
}

#contact_us_left {
  /* width: 35rem; */
}

#contact_us_left img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

#contact_us_right {
  background-color: white;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0.25rem 0;
}

.middle_section {
  padding: 4rem 0;
}

.home_action {
  height: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: var(--primary-bg-color);
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 1.2px #5eba3756;
  padding: 3rem 2.5rem 3rem 2.5rem;
}

.home_action h3 {
  color: var(--primary-text-color-green);
}

.home_action p {
  color: black;
}

.home_action:hover {
  box-shadow: 0px 0px 1.2px #ff0000;
}

.action_font_box {
  display: flex;
  justify-content: center;
  height: 6.5rem;
  width: 6.5rem;
  padding: 1.5rem;
  margin: 0rem 0.66rem;
  background-color: rgb(101, 184, 101);
  border-radius: 6.5rem;
  border: 0.5rem solid rgb(178, 240, 178);
}

.action_font {
  height: 2.5rem;
}

.service {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 1.5rem rgb(215, 212, 212);
}

.service > img {
  height: 15rem;
  width: auto;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.more_details_btn {
  margin-top: auto;
  margin: auto auto 0 auto;
  margin-bottom: 0;
  color: var(--primary-text-color-red);
  width: fit-content;
  border: 2px solid lightgray;
  padding: 1rem 1.75rem;
  border-radius: 0.2rem;
}

.service p {
  margin-top: 0;
}

.more_details_btn:hover {
  background-color: lightgray;
}

.more_details_btn img {
  height: 0.75rem;
}

/* Medium screen size */

@media (max-width: 1300px) {
  #home_top_section {
    height: 25rem;
  }

  #home_top_section_text {
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 1rem;
  }

  #middle_section_4 {
    padding: 4rem 1.5rem;
  }

  #contact_us_right form {
    padding: 1rem;
  }

  #contact_us_right form .form_field input {
    /* width: 15rem; */
    height: 3rem;
  }

  #footer_bottom {
    padding: 3rem 2rem 1rem 2rem;
  }
}

@media (max-width: 950px) {
  #home_top_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/granddaughter-talking-with-her-grandmother-sitting-wheelchair-cheerful-concept-happy-family_mobile.webp");
    background-size: cover;
    background-position: center;
    height: 35rem;
  }

  #home_top_section_text {
    position: static;
    margin: 0;
  }

  #call_to_action_box {
    flex-wrap: wrap;
    width: fit-content;
  }

  #middle_section_1 > p:nth-of-type(1) {
    width: fit-content;
  }

  #contact_us_box {
    grid-template-columns: 1fr;
  }

  #contact_us_left {
    display: none;
  }

  #contact_us_right form {
    /* width: min(5rem, 90%); */
  }

  .service>img {
    height: 19rem;
  }
}

@media (max-width: 750px) {

  #home_top_section_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    padding-bottom: 1rem;
  }

  .service > img {
    height: 19rem;
  }
}