#resources_top_section {
  background-image: linear-gradient(
      to right,
      rgb(63, 87, 104) 40%,
      rgba(63, 87, 104, 0)
    ),
    url("./images/resources.webp");
  background-position-x: 0, 20rem;
  background-position-y: 0, -20rem;
}

#resources_list a {
    color: var(--primary-text-color-red);
}

#resources_list p {
  display: inline-block;
}

@media (max-width:750px) {

    #resources_top_section {
      background-image: url('./images/resources.webp');
    }
  
  }