#services_top_section {
  background-image: linear-gradient(to right, rgb(63, 87, 104) 40%, rgba(63, 87, 104, 0.027)), url('images/services.webp');
  background-position-x:0, 15em;
  background-position-y: 0, -5rem;
}

main {
  padding-left: .5rem;
  padding-right: .5rem;
}

#services {
  gap: 4rem 4rem;
  justify-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  width: 25rem;
  height: 20rem;
  background-repeat: no-repeat;
}

.service h3 {
  background-color: var(--tertiary-bg-color);
  width: 100%;
  margin-top: auto;
  margin-bottom: 0.5rem;
  text-align: center;
  color: white;
}

#personal_care_service {
  background-image: url("images/personal_care.jpg");
}

#housekeeping_service {
  background-image: url("images/housekeeping.webp");
}

#respite_care_service {
  background-image: url("images/respite_care.webp");
}

#home_visit_service {
  background-image: url("images/home_visits.webp");
}

#intermittent_chore_service {
  background-image: url("images/chore.webp");
}

#miscellaneous_service {
  background-image: url("images/miscellaneous.webp");
}

p a {
  color: var(--primary-text-color-red);
}

div ul li {
  list-style: inside;
}

@media (max-width:750px) {

  #services_top_section {
    background-image: linear-gradient(to top, rgb(63, 87, 104) 10%, rgba(63, 87, 104, 0.027)), url('images/services.webp');
  }

}