h1 {
  /* text-decoration: underline; */
  color: var(--primary-text-color-red);
  font-size: 2.35rem;
  margin-top: -1rem;
}

#service_right h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
}

a {
  color: var(--primary-text-color-red);
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

li img {
  margin-right: 0.5rem;
}

#service_description {
  display: flex;
  padding: 5rem 6rem;
}

#service_left img {
  width: 100%;
  /* opacity: .1; */
}

#service_right {
  padding-left: 2rem;
}

#service_sublist {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#contact_us_link {
  margin-top: 3rem;
  /* margin-bottom: 2rem; */
}

#service_contact {
  display: flex;
  padding: 5rem 7rem;
}

#service_contact_left {
  width: 50%;
  padding-right: 1rem;
}

#service_contact_right {
  width: 50%;
}

textarea {
  min-height: 10rem;
}

@media (max-width: 1300px) {
  #service_description {
    padding: 2rem 1rem;
    align-items: center;
  }
}

@media (max-width: 950px) {
  #service_description {
    flex-direction: column;
  }

  #service_left {
    width: 100%;
    margin-bottom: 2rem;
  }

  #service_left img {
    width: 100%;
    border-radius: 0;
  }

  #service_contact {
    padding: 5rem 2rem;
  }

  #service_contact_left {
    width: 40%;
  }
}

@media (max-width: 750px) {
  #service_contact {
    flex-direction: column;
  }

  #service_contact > * {
    width: 100%;
  }
}
